.error-message{
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-top: 2px;
}
input::placeholder{
    font-size: 13px;
}
.mb20{
    margin-bottom: 20px
}
.mt20{
    margin-top: 20px
}
.h5{
    text-transform: uppercase;
    font-weight: normal;
}
table .avatar{
    display: block;
    height: 65px;
}
.avatar-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
table strong{
    min-width: 96px;
    display: inline-block;
}
.table >  thead > tr > th,
.table >  tbody > tr > th,
.table >  tfoot > tr > th,
.table >  thead > tr > td,
.table >  tbody > tr > td,
.table >  tfoot > tr > td{
    vertical-align: middle;
}
.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-middle{
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter .perpage {
    display: inline-block;
}
.btn {
    margin-bottom: 0 !important ;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}
.filter{
    margin-bottom: 10px;
}
.filter .form-control{
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}
.mr10{
    margin-right: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}
.panel-title{   
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.panel-description{
    font-size: 15px;
}
.select2-container--default .select2-selection--single{
    border-radius: 0 !important;
  }
  .select2-container .select2-selection--single{
    height: 31  px !important;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: color, -webkit-box-shadow;
    transition-property: color, -webkit-box-shadow;
    transition-property: box-shadow, color;
    transition-property: box-shadow, color, -webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 rgba(63, .63, .68, .05) ; 
    box-shadow: inset 0 1px 0 rgba(63, .63, .68, .05);
    border: 1px solid #c4cdd5;
    outline: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafb));
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border-color: #c4cdd5;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 13px !important;
    line-height: 31 px;
  }
  .form-control{
    height:  31px;
  }

.active-bg{
    background-color: #1ab394 !important;
}
#checkAll,.checkBoxItem{
    width: 15px;
    height: 15px;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-group label, .form-group span {
    flex: 1;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.menuContainer .setupSelect2{
    width: 100% !important;
}